In [2]:
import numpy as np
import pandas as pd

In [9]:
data = [{'a': i, 'b': 2 * i} for i in range(3)]
df = pd.DataFrame(data, dtype='object')

In [10]:
df

   a  b
0  0  0
1  1  2
2  2  4

In [11]:
df.dtypes

a    object
b    object
dtype: object

In [20]:
df.loc[0, 'b'] = [1, 2, 3]

In [21]:
df

   a          b
0  0  [1, 2, 3]
1  1          2
2  2  [4, 5, 6]

In [22]:
df.loc[2, 'b'] = np.array([4, 5, 6])

In [23]:
df

   a          b
0  0  [1, 2, 3]
1  1          2
2  2  [4, 5, 6]

In [26]:
type(df.loc[0, 'b'])

list

In [27]:
type(df.loc[2, 'b'])

numpy.ndarray